.octopus {
  margin: 10px auto 0;
  z-index: -1;
  display: block;
}

.hat {
  margin: 0 auto 0;
  display: block;
}

.glasses {
  position: relative;
  top: -188px;
  margin: 0 auto 0;
  display: block;
}