.octopus {
  position: absolute;
  padding: 10px auto 0;
  z-index: -1;
  outline: 1px solid red;
  display: block;
}

.hat {
  margin: 0 auto 0;
  display: block;
}

.glasses {
  position: relative;
  margin: 110px 45px;
  display: inline;
  outline: 1px solid red;;
}