#contact-info {
  font-size: 0.8em;
}

.job {
  background-color: #e9e5dc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.list-size{
  font-size: 0.8em;
}

.list-size:hover {
  color: red;
}

section h4 {
  background-color: yellow;
}